/* GLOBAL */
:root {
    --moveme-yellow: #fff55a;
    --moveme-red: #ff0e0e;
}

.red-text {
    color: var(--moveme-red) !important;
}

.yellow-background {
    background-color: var(--moveme-yellow) !important;
}

html {
    background-color: #333333;
}

.app {
    min-height: 100vh;
}

/* FOOTER */

footer {
    bottom: 0;
    position: fixed;
}

/* NAV */
.nav-link {
    letter-spacing: 3px;
}

/* CREATE PAGE */
.quoteNavArea,
.imgNavArea {
    width: 45%;
}

/* SHARE BUTTON */
.shareBtn {
    height: 100px;
}

.shareText {
    font-size: 35px;
}

/* Canvas Area */
#textCanvas,
#imgCanvas {
    position: absolute;
    top: 0px;
    left: 0px;
}

#finalCanvas {
    visibility: hidden;
}

@media screen and (max-width: 992px) {
    /* body {
        overflow: hidden;
    }
    main {
        overflow: hidden;
    } */
    .createPageControls {
        overflow: hidden;
    }
    /* html {
        overflow: hidden;
    } */
    #fontEditWrapper {
        position: fixed;
        bottom: 0px;
        transform: translateX(0%);
        transition: all 1s linear;
        width: 100vw;
        z-index: 50;
    }
}
