.nav-link {
    letter-spacing: 3px;
}

.quoteNavArea,
.imgNavArea {
    width: 45%;
}

.app {
    min-height: 100vh;
}

footer {
    bottom: 0;
    position: fixed;
}

.shareBtn {
    height: 100px;
}

.shareText {
    font-size: 35px;
}

/* Canvas Area */
#textCanvas,
#imgCanvas {
    position: absolute;
    top: 0px;
    left: 0px;
}

#finalCanvas {
    visibility: hidden;
}
